/bootstrap/cache/*.php
/vendor
/node_modules
/.ai
/.git
/.github
/.husky
/.idea
/.junie
/.vscode
/tests
.commitlintrc.json
.dockerignore
.editorconfig
.gitattributes
.gitignore
.release-it.jsondd
AGENTS.md
Envoy.blade.php
auth.json
boost.json
compose.*
phpunit.xml
.env.*.example
